@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');


:root {
    --font-family-sans-serif: "Montserrat", sans-serif !important;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
  }


  body {
  
    font-family: "Montserrat", sans-serif;
   
  }
/* 
Colores de pagina */
.color-verde1-default{
    background-color: #b3de83;
}


.color-verde2-default{
    background-color: #009D0E;
}

.fondo-verdecuadro{
  background-image: url(../img/nav.jpeg);
  background-repeat: no-repeat;
  background-position: center ;
 

  background-size: cover;
}

.color-verde3-default{
    background: #E2F484;
    



}


.text-verde {
    color: #017302 !important;
  }


.textcolor-verde1{
    color: #009D0E;
}


.carousel-item img {
  width: 100%;
  height: 400px; /* Establece la altura fija de la imagen */
  object-fit: cover; /* Escala la imagen para cubrir toda el área disponible */
}

.carousel {
  border: 1px solid #939292; /* Establece un borde sólido de 1 píxel con color gris claro */
  border-radius: 5px; /* Añade un borde redondeado de 5 píxeles */
}



/* Estilo de redes sociales */
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 13px;
  transition: all 0.3s ease;
  color: white;
  font-size: 14px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.whatsapp {
  background: #1ed124;
  color: white;
}

.instagram {
  background: #d448dc;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}


